.container
  %h3 This is just a page to show all the different flash messeges
  %p
    They get automatically showed, just by setting them.
    This is achieved by
    %code shared/flashes
    partial that gets included in
    %code layouts/base
