/.bundle
config/database.yml
config/secrets.yml
log/*
log/*.log
db/*.sql
db/database
db/uploaded_files
doc/api
doc/app
tmp/**/*
tmp/*
*.pid
*~
*.swp
.DS_Store
.myRdoc
mkmf.log
public/system/**/*
public/dev-assets/
public/dev-assets/**/*
public/uploaded_files/**/*
lib/backup/secrets.yml
