.container.m-t-lg
  .row
    .col-md-8.col-md-offset-2.text-center
      .jumbotron
        %h2
          Get an answer for every question
        %p
          With emails some questions go unnoticed and unanswered. This lists make sure that every item has been checked.
        %br
          = link_to "Create a list of questions", new_list_path, class:"btn btn-primary"
